h1 {
 text-align: center;
 color: red;
}

h3 {
 color: green;
}

body{
 background-color:D1CACC;
 }


#menu {
 background: lightblue;
 position: fixed;
 top: 60%;
 right: 10px;
 border-collapse: separate;
 border-spacing: 10px;
}

table li {
 text-align: left;
}

p , li {
 font-family: verdana;
}

.retour {
 position: fixed;
 bottom : 10%;
 right: 1%;
 text-align: center;
}